# =====================
# General
# =====================
.DS_Store
.vscode/
.idea/
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local

# =====================
# Backend /server
# =====================
server/dist/
server/node_modules/
server/.env

# =====================
# Frontend /client
# =====================
client/dist/
client/node_modules/
client/.env

# =====================
# TypeScript
# =====================
*.tsbuildinfo
*.js.map
*.d.ts.map

# =====================
# Vite
# =====================
client/.vite/
client/.cache/
